In [3]:
lista = list(range(0,5))

In [4]:
lista

[0, 1, 2, 3, 4]

In [5]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [7]:
[x*2 for x in range(5)]

[0, 2, 4, 6, 8]

In [8]:
[x for x in range(11) if x % 2 ==0]

[0, 2, 4, 6, 8, 10]

In [9]:
[x for x in range(11) if x % 2 ==1]

[1, 3, 5, 7, 9]

In [ ]:
nomeDataBase = ['aNA ', 'MATEUS', 'jAo  ']

In [14]:
for item in nomeDataBase:
    print(item.strip().capitalize())

Ana
Mateus
Jao